@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../../tailwind.config.cjs";

:root {
  color-scheme: dark;
  --bg: 9 9 11;
  --fg: 244 244 245;
  --muted: 161 161 170;
  --muted-2: 113 113 122;
  --border: 63 63 70;
  --link: 56 189 248;
  --link-hover: 125 211 252;
  /* svg icons */
  --c-x: 29 155 240;
  --c-instagram: 225 48 108;
  --c-linkedin: 10 102 194;
  --c-discord: 10 102 194;
  --c-github: 240 240 245; /* for dark theme */
}

.light {
  color-scheme: light;
  --bg: 255 255 255;
  --fg: 9 9 11;
  --muted: 82 82 91;
  --muted-2: 113 113 122;
  --border: 212 212 216;
  --link: 2 132 199;
  --link-hover: 3 105 161;
  /* github dark icon in light mode */
  --c-github: 24 24 27;
}

/* icons, muted by default, brand on hover */
.brand-muted {
  color: rgb(var(--muted) / 1);
  text-decoration: none;
}
.brand-muted:hover {
  color: rgb(var(--brand) / 1);
  text-decoration: none;
}

/* theming */
.bg-app {
  --bg-alpha: 1;
  background-color: rgb(var(--bg) / var(--bg-alpha));
}
.text-app {
  color: rgb(var(--fg));
}
.text-muted {
  color: rgb(var(--muted));
}
.text-muted2 {
  color: rgb(var(--muted-2));
}
.border-app {
  border-color: rgb(var(--border));
}
.ring-app {
  --tw-ring-color: rgb(var(--border));
}
.link {
  @apply text-pink-400 decoration-purple-400 no-underline underline-offset-[3px];
}
.link:hover {
  @apply decoration-purple-300 underline decoration-[1px] underline-offset-[3px];
}
.link.link:visited {
  @apply text-pink-400;
}

.link:visited {
  color: rgb(var(--link));
}

::selection {
  background-color: rgb(var(--fg) / 0.15);
  color: rgb(var(--bg));
}

/* prose theme */
.prose-theme :is(a) {
  color: rgb(var(--link));
  text-decoration: underline;
  text-underline-offset: 3px;
}

.prose-theme :is(a):hover {
  color: rgb(var(--link-hover));
}

.prose-theme :is(hr) {
  border-color: rgb(var(--border));
}

.prose-theme :is(pre) {
  background-color: rgb(var(--bg) / 0.15);
  border-color: rgb(var(--border));
}

/* markdown color modes */
.light-only {
  display: none;
}
.dark-only {
  display: block;
}

.light .light-only {
  display: block;
}
.light .dark-only {
  display: none;
}
